{#
/**
 * @file director_d_c.html.twig
 * Default theme implementation to present Director dc data.
 *
 * This template is used when viewing Director dc pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_director_d_c()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('director_d_c') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
