{#
/**
 * @file mentee_d_c.html.twig
 * Default theme implementation to present Mentee dc data.
 *
 * This template is used when viewing Mentee dc pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mentee_d_c()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('mentee_d_c') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
